:root {
  --border-testcolor-: rgba(44, 41, 41, 0.4);
}

.title {
  font-family: "Festive", cursive;
  font-size: 7rem;
}

.subtitle {
  font-family: "Amatic SC", cursive;
}
/* end up title styling */

.background-img {
  width: 100%;
}

.business-details-display .card-content, .business-details-display img {
  width: 50%;
}

.modal-content {
  max-width: 800px;
  width: 90%;
}

#message-modal .modal-content {
  width: 70%;
}

#large-map {
  height: 800px;
  width: 800px;
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 5rem;
  }
}
  
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .business-details-display .card-content, .business-details-display img {
    width: 100%;
  }
}